nav {
    background: rgb(37, 129, 216);
    padding: 30px;
    height: 100px;
}


li {
    float: left;
}
ul {
    list-style-type: none;
    text-align: right;
    margin : 0;
    padding : 0;
}

li a{
    display: block;
    color: white;
    margin : 30px;
    align-items: center;
    align-content: center;
    padding: 10px;
    display: inline-block;
    vertical-align: bottom;
    text-decoration: gray;
}

li :nth-last-child(0), li:nth-last-child(1) {
    float: none;
    vertical-align: bottom;
    display: inline-block;
}

img {
    object-fit: cover; 
    height: 100px; 
    width: 100px;
    display: inline-block;
    float: left;
}

div {
    text-align: center;
    border: 1px solid rgb(6, 131, 139);
    padding: 25px;
    align-self: center;
    margin: 25px;
    float: left;
    box-shadow: 5px 10px #888888;
}

p {
    text-align: center;
}